<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>dthomas/PIH</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

    <require_modules>
        <require_module>org.openmrs.module.uiframework</require_module>
    </require_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DiagnosisCaptureRwandaActivator</activator>
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.diagnosiscapturerwanda.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present 
	<mappingFiles>
				
	</mappingFiles>-->
	
	<globalProperty>
		<property>diagnosisCaptureRwanda.constants</property>
		<defaultValue>
CONCEPT_SET_PRIMARY_CARE_FINDINGS_CONSTRUCT=6b6d4468-d7a6-4b5a-bc28-311d047973b6
CONCEPT_PRIMARY_CARE_DIAGNOSIS=587becf8-6c60-47ec-861a-656ebd7f0483
CONCEPT_SET_ICPC_DIAGNOSIS_GROUPING_CATEGORIES=f5ba47a8-c124-4fc9-9da7-598e7455efd6
CONCEPT_SET_ICPC_SYMPTOM_INFECTION_INJURY_DIAGNOSIS=fa0af88a-1d7f-4995-b120-e8fc743ad17a
CONCEPT_SET_SYMPTOM_GROUPING=da4e4561-fde8-4c55-8323-254e9b65c4c3
CONCEPT_SET_PRIMARY_CARE_PRIMARY_DIAGNOSIS_CONSTRUCT=df96a6ed-2be3-4420-bd87-0cabb11b79fc
CONCEPT_SET_PRIMARY_CARE_SECONDARY_DIAGNOSIS_CONSTRUCT=b22b19e6-1a2b-42ff-a2de-08d30f8f97d0
CONCEPT_DIAGNOSIS_ORDER=159946AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CONCEPT_DIAGNOSIS_ORDER_PRIMARY=159943AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CONCEPT_DIAGNOSIS_ORDER_SECONDARY=159944AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CONCEPT_DIAGNOSIS_ORDER_TERTIARY=159945AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
CONCEPT_DIAGNOSIS_CONFIRMED_SUSPECTED=da523876-b3d9-41e3-91ad-6d5e39526b6f
CONCEPT_SUSPTECTED=3e16a931-0d12-49bb-b4eb-da52a15c53f6
CONCEPT_CONFIRMED=1a7b8094-bc5c-4e53-a38a-b4e002f34551
CONCEPT_DIAGNOSIS_NON_CODED=a72c0d52-f25c-40f9-a2c1-1cbef67e2731
CONCEPT_VITALS_TEMPERATURE=3ce939d2-26fe-102b-80cb-0017a47871b2
CONCEPT_VITALS_HEIGHT=3ce93cf2-26fe-102b-80cb-0017a47871b2
CONCEPT_VITALS_WEIGHT=3ce93b62-26fe-102b-80cb-0017a47871b2
CONCEPT_VITALS_SYSTOLIC_BLOOD_PRESSURE=3ce934fa-26fe-102b-80cb-0017a47871b2
CONCEPT_VITALS_DIASTOLIC_BLOOD_PRESSURE=3ce93694-26fe-102b-80cb-0017a47871b2
CONCEPT_VITALS_BMI=3ce14da8-26fe-102b-80cb-0017a47871b2
CONCEPT_OTHER_SIGNS_OR_SYMPTOMS=3ce2b170-26fe-102b-80cb-0017a47871b2
CONCEPT_TREATMENT_OTHER=3ce88a32-26fe-102b-80cb-0017a47871b2
CONCEPT_REFERRED_TO=3cd9fe5e-26fe-102b-80cb-0017a47871b2
CONCEPT_SERVICE_REQUESTED=2cda28df-2fe7-42e0-bb2f-376c9f803537
ENCOUNTER_TYPE_REGISTRATION=d7a2827a-40eb-461a-8636-1f9d3991ad57
ENCOUNTER_TYPE_VITALS=7d2b9911-7b1b-4313-adb7-16294d3463a8
ENCOUNTER_TYPE_DIAGNOSIS=688a608d-3023-4347-971b-e7dde3b638a1
ENCOUNTER_TYPE_LABS=082e1261-cbd6-48a1-9300-51f0ab9ef489
ENCOUNTER_TYPE_FINDINGS=76162246-15d8-43b0-9666-5884ad1e2be4
IDENTIFIER_TYPE_REGISTRATION=984cce9a-3d87-4347-81ea-3ea5d4eb42f4
VISIT_TYPE_OUTPATIENT=3515b588-b1df-4110-991b-0d603686d8e6
		</defaultValue>
		<description>
			the mappings of constant names to uuids.  used to load all diagnosis capture metadata.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>simplelabentry.supportedTests</property>
		<defaultValue></defaultValue>
		<description>
			comma delimited conceptIds or uuids, should be either lab tests or sets of lab tests.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>simplelabentry.labTestEncounterType</property>
		<defaultValue></defaultValue>
		<description>
			id or uuid, the lab encounter type
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>simplelabentry.labOrderType</property>
		<defaultValue></defaultValue>
		<description>
			id or uuid, the lab order type
		</description>
	</globalProperty>
	
	<globalProperty>
	    <property>diagnosiscapturerwanda.registrationSystemUrl</property>
	    <defaultValue>module/rwandaprimarycare/homepage.form</defaultValue>
		<description>This should be the url pointing to your registration system.  Start with module name, for example: module/rwandaprimarycare/homepage.form</description>	
	</globalProperty>


	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.openmrs.module.diagnosiscapturerwanda.queue.advice.QueueEncounterInterceptor</class>
	</advice>


	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

