/** see:  http://www.cssbuttongenerator.com/ **/
.ICPCButtonClass {
	width:100%;
	-moz-box-shadow: 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 0px 0px 0px #ffffff;
	box-shadow: 0px 0px 0px 0px #ffffff;
	background-color:#fefefe;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 17px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffffff;
	text-align: left;
}.ICPCButtonClass:hover {
	background-color:#e9e9e9;
}.ICPCButtonClass:active {
	position:relative;
	top:1px;
}


.symptom {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#152904;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	text-align: left;
}.symptom:hover {
	background-color:#5cb811;
}.symptom:active {
	position:relative;
	top:1px;
}

.symptom_color {
		background-color:#77d42a;
}	


.infection {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
	text-align: left;
}.infection:hover {
	background-color:#ffab23;
}.infection:active {
	position:relative;
	top:1px;
}

.infection_color {
		background-color:#ffec64;
}	


.injury {
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background-color:#fa665a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #98231a;
	text-align: left;
}.injury:hover {
	background-color:#d34639;
}.injury:active {
	position:relative;
	top:1px;
}

.injury_color {
	background-color:#fa665a;			
}

.diagnosis {
	-moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	box-shadow:inset 0px 1px 0px 0px #e6cafc;
	background-color:#c579ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a946f5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #8628ce;
	text-align: left;
}.diagnosis:hover {
	background-color:#a341ee;
}.diagnosis:active {
	position:relative;
	top:1px;
}

.diagnosis_color {
		background-color:#c579ff;
}

.icpcResults {
  table-layout:fixed;
  width:100%;
}
.icpcResults th{
  width: 25%;
}
 .icpcResults td{
  width: 25%;
}

.labTable td {
	padding:5px;
	margin:5px 5px;
}

.locationTable td {
	font-size: 0.9em;
    padding-left: 6px;
    padding-top: 8px;
}

.locationTable td select {
	font-size: 1.0em;
}

button, button.blue { 
  background:url(images/btn_right_blue.png) right no-repeat; 
  font-size:0.9em; 
  line-height:60px;
  min-width:66px;
  margin: -4px;
}
button span, button.blue span { 
  background:url(images/btn_left_blue.png) left no-repeat;
  height:63px; 
  line-height:63px;
  color:#fff; 
  margin-left: -4px;
}

button span {
}

button { 
  color: white;
  -moz-user-select:none;
  -moz-user-focus:disabled;
  border:0; 
  cursor:pointer; 
  font-weight:bold; 
  padding:0 6px 0 0; 
  text-align:center; 
}

button span { 
  -moz-user-select:none;
  -moz-user-focus:disabled;
  position:relative; 
  display:block; 
  white-space:nowrap; 
  padding:0 0 0 8px; 
}

button:hover, button:hover.blue {
	background:url(images/btn_right_hover_blue.png) right no-repeat; 
}
button:hover span, button:hover.blue span {
	background:url(images/btn_left_hover_blue.png) left no-repeat; 
}

#searchByName {
	padding-right: 8px;	
	float: right;
}

#findPatients {
	padding-top: 16px;
	padding-bottom: 16px;
}

.previousVisit {
	font-size: 1.0em;
	margin-bottom: 5px;
}

#previousVisitTitle {
	font-weight:bold; 
}

#registrationTable td{
	vertical-align: top;
	padding-right: 12px;
}

#registrationButton {
	margin-top: -4px;
}

.home {
	float: right;	
	margin-top: 8px;
	margin-right: 2px;
}

#frameTable {
	width: 100%;
}

#frameTable td{
	width: 70%;
}

.inputButton {
	float: right;
	margin:2px;
}

.pastVisit .box {
	border: 1px solid #666666;
}

.pastVisit .boxHeader {
	background-color: #666666;
	border: 1px solid #666666;
}

.dashboardTable {
	width: 100%;
}

.dashboardTable tr {

}	

.dashboardHeading {
	width: 15%;
	vertical-align: top;
	font-weight:bold; 
}

.dashboardValue {
	width: 70%;
}

.dashboardValue  div.box{
	border: 0px;
}

.past .dashboardValue  div.box{
	border: 0px;
}

.past .dashboardValue  div.boxHeader{
	background-color: #1AAC9B;
	border: 1px solid #1AAC9B;
}

.dashboardValue  thead.regimenTable{
	border-collapse: separate;
}

.dashboardInput {
	width: 15%;
	vertical-align: top;
}

.boxInnerDiagnosis {
	border: 1px solid #1AAC9B;
	margin: 12px;
}

.boxInnerDiagnosis box {
	border: 1px solid black;
}

.dashboardTable thead th {
	background-color: #CCCCCC
}

.past div.boxHeader{
	background-color: #666666;
	border: 1px solid #666666;
}

.past div.box{
	border: 1px solid #666666;
}

.past .boxInnerDiagnosis{
	border: 1px solid #666666;
}
